.total-wrapper {
  background: #dadada;
  background-image: url("/homeImage.jpg");
  background-size: 100%;
  min-height: 100vh;
  color: white;
  font-family: 'Raleway', Arial, sans-serif;
}

.scroll-wrapper {
  width: 100%;
  height: 100vh;
  overflow: scroll;
}

.wrapper {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.page-title {
  margin-top: 5%;
  color: white;
  text-shadow:
		-1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
    1px 1px 0 black;
    font-family: 'Raleway', Arial, sans-serif;
}

button {
  box-shadow: 0 2px 3px rgb(56, 56, 56);
}

