.total-wrapper {
  background: #dadada;
  background-image: url("/homeImage.jpg");
  background-size: 100%;
  min-height: 100vh;
  color: white;
}

.wrapper {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

