.card-border {
    border: 1px solid #31081F;
}

.card-column {
    box-shadow: 0 2px 3px rgb(56, 56, 56);
    background: rgb(209, 209, 209);
    background-image: linear-gradient(to right, rgb(206, 206, 206), white,rgb(206, 206, 206));
}