.admin-titles {
    text-align: center;
}

.admin-container {
    text-align: center;
    background: rgb(100, 100, 100);
    background: rgba(56, 56, 56, 0.9);
    padding-top: 10px;
    padding-bottom: 10px;
}

.admin-container ul {
    list-style: none;
    
}

.admin-container ul li {
    text-align: right;
    padding-top: 3px;
    padding-bottom: 3px;
}

.edit-button, .dlt-button, .add-button {
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 12;
}

.add-button {
    margin-bottom: 10px;
    background: rgb(29, 88, 29);
    background: linear-gradient(rgb(29, 88, 29), rgb(45, 109, 45));
}

.add-button:hover {
    background: green;
    box-shadow: 0 0 5px rgb(43, 221, 43);
}

.edit-button {
    background: linear-gradient(#141B41, rgb(46, 59, 134));
}

.edit-button:hover {
    background: rgb(21, 21, 172);
}

.dlt-button:hover {
    background: red;
    box-shadow: 0 0 5px rgb(255, 57, 57);
}