a {
    color: white;
}

@media only screen and (max-width: 768px) {
  
    .nav-link {
        font-size: 14px;
        font-weight: bold;
        padding: 5px 8px;
        color: black;
        text-shadow: 0 0 2px white;
    }
    
  }

  @media only screen and (max-width: 500px) {
  
    .nav-link {
        font-size: 12px;
        font-weight: bold;
        padding: 4px 5px;
        color: black;
        text-shadow: 0 0 2px white;
    }
    
  }