.main-title {
  font-size: 50px;
  text-shadow: 0 0 3px black;
}


.quote {
    width: 30%;
    color: white;
    position: absolute;
    bottom: 20%;
    right: 15%;
    text-shadow:
		-1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black;
}
