


.quote {
    width: 30%;
    color: white;
    position: absolute;
    bottom: 20%;
    right: 15%;
    text-shadow:
		-1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black;
}
