.main-title {
  font-size: 40px;
  text-shadow: 0 0 3px black;
}


.quote {
    width: 30%;
    color: white;
    position: absolute;
    bottom: 20%;
    right: 15%;
    text-shadow:
		-1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black;
}

.quote-author {
  font-style: italic;
}

@media only screen and (max-width: 768px) {
  
  .main-title {
    font-size: 30px;
    text-align: center;
  }
  
  .quote {
      position: relative;
      display: block;
      right: 0;
      width: 90%;
      margin: 5% auto;
    }
}
