.update-property-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(59, 59, 59);
    background: rgba(168, 168, 168, 0.75);
    z-index: 2;
}

.inner-property-wrapper {
    margin-top: 3%;
    padding: 15px;
    max-height: 80vh;
    overflow: scroll;
}

.close-top-right {
    display: inline-block;
    top: 0.5%;
    right: 0.5%;
    float: right;
    cursor: pointer;
}