.contact-form {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding: 15px 5%;
    box-shadow: 0 2px 3px rgb(56, 56, 56);
    background: rgb(100, 100, 100);
    background: rgba(56, 56, 56, 0.9);
}

.input-label {
    display: block;
    text-shadow: 0 0 1px black;
    font-size: 1em;
}

.input-field {
    display: block;
    background: rgb(187, 207, 226);
    box-shadow: 0 2px 3px rgb(56, 56, 56);
    padding: 0;
    border: 1px solid black;
    border-radius: 2px;
}

.text-field {
    height: 8em;
    margin-bottom: 15px;
    width: 100%;
}

.send-button {
    display: block;
    margin: 0 auto;
}

.short-field {
    width: 40%;
}

